@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$colors: (
    backgrounds: #3f3f3f,
    defaults: #808080,
    texts: #d3d3d3,
    icons: #fff,
    clicked: #1db954
);

// 768px , 992px, 1200px
$breakpoints: (
    "medium": 48em,
    "large": 62em,
    "xlarge": 75em,
    "xxlarge": 87.5em
);

@function colorProperty($color-name) {
    @return map-get($colors, $color-name);
}

@mixin breakpoint($size) {
    @media (min-width: map-get($breakpoints, $size)) {
        @content;
    }
}

@mixin widthHeight($width, $height) {
    width: $width;
    height: $height;
}

@mixin flexCenter($display, $justify, $align, $direction) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

:root {
    --icon-size: 1.25rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    @include widthHeight(100%, auto);
    @include flexCenter(flex, center, center, column);
    background-color: #232323;
    padding: 2rem 1rem;

    @include breakpoint(large) {
        height: 100dvh;
    }
}

.container {
    width: min(100%, 320px);
    height: auto;
    position: relative;
    padding: 2em 1em;
    background-color: colorProperty(backgrounds);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    i {
        cursor: pointer;
    }

    .top-bar {
        @include flexCenter(flex, center, center, row);

        span {
            font-size: 0.75em;
            color: colorProperty(icons);
            width: 28ch;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            line-height: 1.2;

            b {
                display: block;
                margin-top: 0.25rem;
                text-transform: capitalize;
            }
        }
    }

    .image {
        @include widthHeight(100%, 300px);
        margin: 2em auto;

        img {
            @include widthHeight(100%, 100%);
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: 50% 15%;
            border-radius: 5px;
            margin-inline: auto;
        }
    }

    .song-info {
        margin: 2em 0;
        position: relative;
        font-size: 1em;

        .song-name {
            font-weight: bold;
            color: colorProperty(texts);
        }

        .artist-name {
            font-size: 0.75rem;
            color: colorProperty(defaults);
        }

        .btn-like {
            font-size: var(--icon-size);
            color: colorProperty(defaults);
            position: absolute;
            top: 30%;
            left: 90%;
            transform: translateX(50%);
            display: block;
        }

        .active {
            color: colorProperty(clicked);
        }
    }

    .progress {
        @include widthHeight(100%, 3px);
        background-color: colorProperty(defaults);
        border-radius: 50px;
        margin-top: -0.75em;
        cursor: pointer;

        &-bar {
            @include widthHeight(0, inherit);
            background-color: colorProperty(icons);
            border-radius: inherit;
            position: relative;

            &-indicator {
                position: absolute;
                @include widthHeight(12px, 12px);
                border-radius: inherit;
                background-color: colorProperty(icons);
                top: 50%;
                right: -10px;
                transform: translateY(-50%);
            }

            &:hover {
                background-color: colorProperty(clicked);
            }
        }

        .timer {
            @include flexCenter(flex, space-between, stretch, row);

            .playtime {
                color: colorProperty(icons);
                font-size: 0.75em;
                padding-top: 0.75em;
            }
        }
    }

    .controls {
        @include flexCenter(flex, space-between, center, row);
        margin-top: 1.5em;

        .btn-shuffle,
        .btn-loop {
            color: colorProperty(defaults);
            font-size: var(--icon-size);
            position: relative;

            .dot {
                display: none;
            }
        }

        .active {
            color: colorProperty(clicked);

            .dot {
                display: block;
                @include widthHeight(6px, 6px);
                border-radius: 50%;
                background-color: colorProperty(clicked);
                position: absolute;
                bottom: -60%;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .btn-previous,
        .btn-next {
            color: colorProperty(icons);
            font-size: var(--icon-size);
        }

        .btn-play-pause {
            padding-block: 1rem;
            border-radius: 50%;

            &:hover {
                cursor: pointer;
            }

            i {
                color: colorProperty(icons);
            }

            .btn-play {
                font-size: 2rem;
            }
        }
    }

    .volume {
        @include flexCenter(flex, space-between, center, row);
        margin-top: 1rem;
        gap: 1rem;

        .volume-bar {
            @include widthHeight(100%, 3px);
            accent-color: colorProperty(icons);
            border-radius: 50px;
            cursor: pointer;
        }

        .fa-volume-off,
        .fa-volume-high {
            font-size: 10px;
            color: colorProperty(icons);
        }
    }
}

.modal {
    @include widthHeight(280px, 60px);
    display: none;
    position: absolute;
    left: 0;
    bottom: -30px;
    z-index: 1;
    background-color: colorProperty(defaults);
    color: colorProperty(icons);
    border-radius: 10px;
    padding: 1.25em 1em;
    margin-left: 1.25em;
    opacity: 1;
}

footer {
    padding-block: 1em;
    font-size: 0.75em;
    color: colorProperty(icons);
}
